/*big boxes*/
html {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%239f1800' fill-opacity='0.28' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background: whitesmoke;
  padding: 1%;
}
/*



*/
/*medium boxes*/
header {
  color: maroon;
  margin-top: 3%;
}

body {
  text-align: center;
}

article {
  background: #8395a7;
  padding: 2%;
  margin-bottom: 3%;
}

.seccion {
  padding: 2%;
  width: 80%;
  float: left;
  margin: auto;
}

.columna {
  width: 15%;
  float: left;
  margin-top: 2%;
}
/*



*/
/*short boxes*/
a {
  text-decoration: none;
  color: black;
}

h1 {
  font: lighter 30px sans-serif;
}

blockquote {
  background: #8395a7;
  margin-bottom: 3%;
  padding: 2%;
}

blockquote[cite] {
  color: maroon;
}

#titulo {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bolder;
  float: left;
}

#img_principal {
  float: left;
  margin-right: 2%;
}

/*
navigation panel
*/

.nav-main {
  text-align: left;
  clear: both;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 1px 0%;
}

.nav-main ul {
  display: flex;
}

.nav-main ul li {
  list-style: none;
  padding: 1%;
  display: inline-block;
}

.nav-main ul.nav-menu {
  flex: 1px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid maroon;
}

/*
footers
*/

#main_footer {
  color: darkslategrey;
  clear: both;
}

.secondary_footers {
  color: darkslategrey;
  text-align: right;
}
