html {
  background: wheat;
}

* {
  margin: 0;
  padding: 0;
  display: block;
}

.todo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background: whitesmoke;
  padding: 1%;
}

header {
  color: maroon;
}

body {
  text-align: center;
}

h1 {
  font: lighter 30px sans-serif;
}

article {
  background: #8395a7;
  padding: 2%;
  margin-bottom: 3%;
}

blockquote {
  background: #8395a7;
  margin-bottom: 3%;
  padding: 2%;
}

blockquote[cite] {
  color: maroon;
}

#titulo {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bolder;
  float: left;
}

#img_principal {
  float: left;
  margin-right: 2%;
}

.menu {
  text-align: left;
  clear: both;
}

.menu li {
  list-style: none;
  padding: 1%;
  display: inline-block;
}

.seccion {
  padding: 2%;
  width: 80%;
  float: left;
  margin: auto;
}

.columna {
  width: 15%;
  float: left;
  margin-top: 2%;
}

#main_footer {
  color: darkslategrey;
  clear: both;
}

.secondary_footers {
  color: darkslategrey;
  text-align: right;
}

#credito {
  text-align: left;
  display: none;
  font-size: 60%;
}
